__pycache__/
*.py[cod]
.Python
.pytest_cache/
.tmp/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
runs/
.mplconfig/
build/
dist/
*.egg-info/
*.log
*.aux
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.zip
.DS_Store
Thumbs.db
